body {
    margin: 0;
    padding: 0;
    background-color: #121212;
}
* {
    color: white;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
#wrapper {
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    /*Divide columns into 12 equally large parts*/
    grid-template-columns: repeat(12, 1fr);
    /*Divide rows into footer being auto large, the main row 
    with posts and friendlist being 1fr (fraction)
    and the footer being auto large (exactly large enough to
    fit the content)
    */
    grid-template-rows: auto 1fr auto;
    grid-gap: 3vh;
}
header {
    /*Span across 1 till 12/13 columns*/
    grid-column: 1 / 13;
    /*Be in row 1*/
    grid-row: 1;
}
nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
}
#logout {
    padding-right: 1em;
    text-align: center;
}
nav li {
    display: inline;
    padding: 1em;
    margin: 0;
}
li a, a {
    text-align: center;
    text-decoration: none;
    color: #efefef;
    opacity: 0.6;
    display: inline;
    font-size: 1.3em;
}
a:hover {
    animation-name: slight-opacity;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes slight-opacity {
    from {
      opacity: 0.6;
    }
    to {
      opacity: 1;
    }
  }


#posts {
    grid-column: 3 / 10;
    grid-row: 2;
}
#friendlist {
    grid-column: 11 / 13;
    grid-row: 2 / 3;
}
footer {
    grid-column: 3 / 10;
    grid-row: 3;
}
p {
    overflow-wrap: break-word;
}

form {
    background-color: 121212 !important;
    height: auto !important;
    width: auto !important;
}
fieldset {
    border-radius: 8px !important;
    text-align: center !important;
    color: black !important;
    height: auto !important;
    width: auto !important;
}
fieldset input {
    color: black;
}
form div input {
    color: black;
    text-align: center;
}
form div {
    text-align: center;
}

a {
    background-color: #2A139D;
    padding: 10px;
    border-radius: 0.1em;
}