body {
    margin: 0;
    padding: 0;
}
#wrapper {
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-gap: 3vh;
}
header {
    grid-column: 1 / 12;
    grid-row: 1;
}
#posts {
    grid-column: 2 / 10;
    grid-row: 2;
}
#friendlist {
    grid-column: 11 / 13;
    grid-row: 2 / 3;
}
footer {
    grid-column: 3 / 10;
    grid-row: 3;
}