{% extends 'layout.html' %}


{% block head %}
<title>aboutUs.html</title>
{% endblock %}


{% block body %}
<body>
    <h1>Who are we?</h1>
    <p>       <!--TODO: Update the title of the website when it's done-->
        We at AntiRepost are commited to the exchange of new ideas, and our site's purpose is therefore to hinder people copying other people's ideas and works.
        <br /> <br />
        We accomplish this by comparing the body of any new post with a selection of previous posts, and then disallow it from being posted if it is a certain percentage alike.
    </p>          
</body>
{% endblock %}