{% extends 'layout.html' %}


{% block head %}
<title>aboutUs.html</title>
{% endblock %}


{% block body %}
<body>
    <h1>Who are we?</h1>
    <p>       <!--TODO: Update the title of the website when it's done-->
        We at AntiRepost are commited to the exchange of new ideas, and our site's purpose is therefore to hinder people copying other people's ideas and works.
        <br />
        We accomplish this by <!--TODO: explain how it's done once we actually know-->
    </p>          
</body>
{% endblock %}