{% extends 'layout.html' %}

{% block head %}
<title>Create User</title>
{% endblock %}

{% block body %}
<div id="main">
    <h2>Create User</h2>
    <form method="POST" action="/createUser" novalidate>
        {% if errors %}
        {% for error in form.errors %}
            <span>{{ error }}</span>
        {% endfor %}
        {% endif %}
        {{ form.csrf_token }}
        <fieldset class="username">
            {{ form.username(placeholder='username') }}
        </fieldset>
        <fieldset>
            {{ form.password(placeholder='password') }}
        </fieldset>
        <fieldset>
            {{ form.confirmPass(placeholder='repeat password') }}
        </fieldset>
        <fieldset>
            {{ form.submit }}
        </fieldset>
        
        <a href="login">Go back to login</a>
    
    </form>
</div>

{% endblock %}
