{% extends 'layout.html' %}

{% block head %}
<title>Create User</title>
<link rel="stylesheet" href="{{ url_for('static', filename='createUser.css') }}">
{% endblock %}

{% block body %}
<div id="main">
    <div id="nav-create-user">
        <a href="login">Go back to login</a>
    </div>
    <form method="POST" action="/createUser">
        <h2>Create User</h2>
        {{ form.csrf_token }}
        <fieldset class="username">
            {{ form.username(placeholder='username') }}
        </fieldset>
        <fieldset>
            {{ form.password(placeholder='password') }}
        </fieldset>
        <fieldset>
            {{ form.confirmPass(placeholder='repeat password') }}
        </fieldset>
        <fieldset>
            <ul>
                {% if form.errors %}
                Something went wrong!
                {% for field in form.errors %}
                {% for error in form.errors[field] %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
                {% endif %}
            </ul>
        </fieldset>
        <fieldset>
            {{ form.submit }}
        </fieldset>

    
    </form>
    <div id="requirements">
        <h4>Password Requirements:</h4>
        <ul>
            <li>Password must be between 8 and 50 characters and/or numbers</li>
            <li>Must Contain at least 1 number and 1 capital letter</li>
        </ul>
    </div>
</div>

{% endblock %}
