{% extends 'layout.html' %}

{% block head %}
<title>Index.html</title>
{% endblock %}

{% block body %}
<div id="wrapper">
    <header>
        AntiRepost
        
        {% if session.get("username") != None %}
        Logged in as: {{session['username']}}
        <a href="logout">logout</a>
        {% endif %}

        {% if session.get("username") == None %}
        <a href="login">login</a>
        {% endif %}

        <a href="aboutUs">About Us</a>
        <a href="createUser">Create User </a>
        <a href="newFriend">Add Friend</a>
    </header>
    <div id="posts">
        <h2>Posts:</h2><br\ >
        <a href="checkUsers">bruh</a>
        {% for post in postliste%}
        <h3>Posted by {{post['author_name']}} at {{post['created']}}</h3> <h4>{{post['title']}}</h4>
        <p>{{post['body']}}</p>
        {% endfor %}
    </div>

    <div id="friendlist">
        <h2>Friendlist:</h2><br\ >
        {% for pers in venneliste %}
        <h3>{{pers['username']}}</h3>
        {% endfor %}
    </div>
   <footer>
       Made by Ove Oftedal and Benjamin Mydland
    </footer>
</div>
{% endblock %}

