{% extends 'layout.html' %}

{% block head %}
<title>Index.html</title>
{% endblock %}

{% block body %}
<div id="wrapper">
    <header>
        AntiRepost
        
        {% if session.get("username") != None %}
        Logged in as: {{session['username']}}
        <a href="logout">logout</a>
        {% endif %}

        {% if session.get("username") == None %}
        <a href="login">login</a>
        {% endif %}

        <a href="aboutUs">About Us</a>
        <a href="createUser">Create User </a>
    </header>
    <div id="posts">
        posts
        <a href="checkUsers">bruh</a>
    </div>

    <div id="friendlist">
        friendlist<br\ >
        {% for pers in test %}
        <p>{{pers['username']}}</p>
        {% endfor %}
    </div>
   <footer>
       Made by Ove Oftedal and Benjamin Mydland
    </footer>
</div>
{% endblock %}

