<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="wrapper">
        <header>
            <h1><a href="/">AntiRepost</a></h1>
            {% if current_user.is_authenticated %}
            <nav>
                <p>Logged in as: {{current_user.username}}</p>
                <ul>
                    <li><a href="createPost">Post</a></li>
                    <li><a href="aboutUs">About Us</a></li>
                    <li><a href="newFriend">Add Friend</a></li>
                </ul>
                <p><a id="logout" href="logout">Logout</a></p>
            </nav>
            {% endif %}
        </header>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class=flashes>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        {% block body %}{% endblock %}
        <footer>
            Made by Ove Oftedal and Benjamin Mydland
        </footer>
    </div>
</body>
</html>
